//
// Override global variables
//

// Theme colors
$primary:       									#003399;
$primary-hover:    									#3269CD;
$primary-light:    									#E1F0FF;
$primary-inverse:  									#FFFFFF;

$warning:       									#FF6E00;
$warning-hover:    									#d15b00;

$info:         		 								#3269CD; // Bootstrap variable
$info-light:                                        #84A5E1;
$info-hover:   		 								#1d4a9e; // Custom variable

$danger:        									#C12C20 ; // Bootstrap variable
$danger-hover:     									#EE2D41; // Custom variable

$dark:    									        #4F6178;
$dark-light:    									#A7A5A5;
