section#page-content{

  #controls{

      #btnExport{
          min-height:38px;

          .ant-select:not(.ant-select-customize-input){

              .ant-select-selector{

                  border-color:#003399;

                  .ant-select-selection-search input{
                      height:100%;
                  }

                  .ant-select-selection-placeholder{
                      font-size:1rem;
                      color:#003399;
                      font-weight:bold;
                  }
              }

              .ant-select-arrow{
                  color:#003399;
              }
          }

      }

  }

  .ant-table{
      .ant-table-thead{
          tr{
              th{
                  min-width:120px;
                  &:first-child{
                      min-width:auto;
                  }
                  // &:nth-child(2){
                  //     width:160px;
                  // }
                  // &:nth-child(3){
                  //     width:140px;
                  // }
                  // &:nth-child(4){
                  //     width:130px;
                  // }
                  // &:nth-child(5){
                  //     width:180px;
                  // }
                  // &:nth-child(6){
                  //     width:120px;
                  // }
                  // &:nth-child(7){
                  //     width:140px;
                  // }
                  // &:nth-child(8){
                  //     width:140px;
                  // }
                  // &:nth-child(9){
                  //     width:120px;
                  // }
              }
          }
      }
  }

}
.ant-input-group.ant-input-group-compact > *:first-child, .ant-input-group.ant-input-group-compact > .ant-select:first-child > .ant-select-selector, .ant-input-group.ant-input-group-compact > .ant-select-auto-complete:first-child .ant-input, .ant-input-group.ant-input-group-compact > .ant-cascader-picker:first-child .ant-input {
  width: 50% !important;
  height: 36px !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border: 1px solid #A7A5A5 !important;
  border-right: none !important;
  z-index: 0 !important;
}
.ant-input-group.ant-input-group-compact > *:last-child, .ant-input-group.ant-input-group-compact > .ant-select:last-child > .ant-select-selector, .ant-input-group.ant-input-group-compact > .ant-cascader-picker:last-child .ant-input, .ant-input-group.ant-input-group-compact > .ant-cascader-picker-focused:last-child .ant-input {
  width: 50% !important;
  height: 36px !important;
  border-right-width: 1px;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  border: 1px solid #A7A5A5 !important;
  border-left: none !important;
  z-index: 0 !important;
  position: absolute !important;
}
.btn-tab-1{
  width: 180px !important;
  color: #A7A5A5 !important;
  background-color: #EEEEEE !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.btn-tab-2{
  width: 180px !important;
  position: absolute;
  left: 160px;
}

.ant-modal-body{
  padding: 24px !important;
}
.ant-transfer-list-content-item{
  margin: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 2px 5px 2px rgb(50 50 50 / 10%);
  box-shadow: 1px 2px 5px 2px rgb(50 50 50 / 10%);
}
.fa-plus-square {
  font-size: 17px !important;
  color: #003399 !important;
}
.fa-minus-square {
  font-size: 17px !important;
  color: #FF6E00 !important;
}
// .ant-form-item .ant-select, .ant-form-item .ant-cascader-picker {
//   width: 250px !important;
// }
.breadcrumb{
  background-color: #FFFFFF !important;
  padding: 0px;
}
.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #7E8299;
  content: ">" !important;
}

#searchBox {
  background-image: url(../../../media/bg/search_no_toggle_bg@2x.png) !important
}

section#searchBox form#searchForm #field-wrapper {
  height: auto !important;
}

.line{
  margin-bottom: 2rem;
  height: 4px;
  background-color: #EEEEEE;
}
